@import './mixins.scss';
@import './transition.scss';
@import './container.scss';
@import './loading.scss';
@import './list.scss';
@import './form.scss';
@import './field.scss';

html {
  font-size: 14px;
}
body {
  padding: 0;
  margin: 0;
}
#root {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.c-twitsplit {
  height: 100%;
  width: 100vw;
  display: flex;
  box-sizing: border-box;
  padding-bottom: 5.7em;
  .c-list {
    flex: 1;
  }
}
